/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Exo 2", sans-serif;
  /* background-color: #333333; */
}
html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* END Global Rules */

h1 {
  margin: 20px auto;
  text-align: center;
  color: #7333da;
}

a {
  text-decoration: none;
}

.get-part {
  text-align: center;
  position: relative;
  width: 600px;
  margin: 50px auto;
}

/* this part bellow for input */

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 600px;
  border: none;
  border-bottom: 1px solid #4e4e4e;
  color: #7333da;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #4e4e4e;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #7333da;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 600px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #7333da;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 0%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #7333da;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #7333da;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #7333da;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* end input part */

button,
a {
  display: inline-block;
  background-color: #7333da;
  color: white;
  padding: 15px;
  border-radius: 6px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
  transition: 0.3s;
  border: none;
}

a {
  display: block;
  width: 200px;
  font-size: 16px;
}

button:active,
button:hover,
a:active,
a:hover {
  background-color: #5726a5;
  scale: 1.2;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border: 2px solid #7333da;
  padding: 15px;
  border-radius: 15px;
  width: 600px;
  margin: 25px auto;
  justify-content: space-evenly;
  z-index: 1;
  display: none;
  transition: 0.3s;
  opacity: 0;
}

.img {
  height: 300px;
  width: 200px;
  border-radius: 15px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.content h3 {
  font-size: 15px;
  width: 200px;
  overflow: hidden;
}

.error {
  font-size: 25px;
  font-weight: bold;
  margin: 15px auto;
  color: #e52bcd;
}

.blurs {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: transparent;
}

@media (max-width: 769px) {
  .popup {
    width: 350px;
    flex-direction: column;
    align-items: center;
  }
  .content {
    align-items: center;
  }
  input {
    width: 350px;
  }
  .bar {
    width: 350px;
  }
  .get-part {
    width: 350px;
  }
}

/* exit styling */

.circle {
  width: 40px;
  height: 40px;
  background: white;
  border: 4px solid #7333da;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
  top: -7%;
  right: -6%;
}
.circle:after {
  width: 24px;
  height: 4px;
  background-color: #7333da;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /*@include transform-origin(100%,100%);*/
}
.circle:before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 4px;
  background-color: #7333da;
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  /*@include transform-origin(0%,0%);*/
}

.simpleRotate {
  -moz-animation: rotate 0.1s 2 ease-in-out alternate;
  -webkit-animation: rotate 0.1s 2 ease-in-out alternate;
  animation: rotate 0.1s 2 ease-in-out alternate;
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
.circle[data-animation="simpleRotate"]:not(.simpleRotate) {
  -moz-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -o-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
  transition: cubic-bezier(0.175, 0.885, 0.52, 1.775) 200ms;
}
.circle[data-animation="simpleRotate"]:not(.simpleRotate):hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.circle[data-animation="rotateY"] {
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}
.circle[data-animation="rotateY"]:after {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.circle[data-animation="rotateY"]:before {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.circle[data-animation="rotateX"] {
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}
.circle[data-animation="rotateX"]:after {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.circle[data-animation="rotateX"]:before {
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}

.rotateY {
  -moz-transform: rotateY(180deg) scale(0.5);
  -ms-transform: rotateY(180deg) scale(0.5);
  -webkit-transform: rotateY(180deg) scale(0.5);
  transform: rotateY(180deg) scale(0.5);
}
.rotateY:after {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotateY:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotateX {
  -moz-transform: rotateX(180deg) scale(0.5);
  -ms-transform: rotateX(180deg) scale(0.5);
  -webkit-transform: rotateX(180deg) scale(0.5);
  transform: rotateX(180deg) scale(0.5);
}
.rotateX:after {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotateX:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle[data-animation="magnify"]:not(.magnify) {
  -moz-transition: ease-in-out 100ms;
  -o-transition: ease-in-out 100ms;
  -webkit-transition: ease-in-out 100ms;
  transition: ease-in-out 100ms;
}
.circle[data-animation="magnify"]:not(.magnify):hover {
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.circle.magnify {
  -moz-transition: ease-in-out 200ms;
  -o-transition: ease-in-out 200ms;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  opacity: 0;
}

.fromMiddle:before,
.fromMiddle:after {
  z-index: 9999;
  -moz-transition-delay: 150ms;
  -o-transition-delay: 150ms;
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
  -moz-transition: ease-in-out 400ms;
  -o-transition: ease-in-out 400ms;
  -webkit-transition: ease-in-out 400ms;
  transition: ease-in-out 400ms;
}
.fromMiddle span {
  width: 38px;
  height: 38px;
  background-color: #7333da;
  display: inline-block;
  position: absolute;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: -2px;
  top: -2px;
  z-index: -9999;
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0;
  -moz-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.fromMiddle:hover:before,
.fromMiddle:hover:after {
  position: absolute;
  background-color: #fff;
}
.fromMiddle:hover span {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
